block(nav-menu) {
  width: 100%;

  elem(content) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1280px) {
      max-width: 960px;
    }

    @media (max-width: 768px) {
      max-width: 600px;
    }
  }

  &.mod(open) {
    elem(content) {
      max-width: unset;
    }
  }

  block(link) {
    font-size: 24px;

    @media (max-width: 1280px) {
      font-size: 16px;
    }

    @media (max-width: 1024px) {
      font-size: 22px;
    }
  }
}
