block(table) {
  width: 100%;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  flex-direction: column;
  position: relative;

  elem(cell):nth-child(4),
  elem(cell):nth-child(3) {
    @media (max-width: 769px) {
      display: none;
    }
  }

  elem(header) {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 25px;
    line-height: 50px;
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    box-shadow: 0 2px 0 0 #7797ae;

    & > div {
      text-align: center;
      padding-left: 10px;
      box-sizing: border-box;
      text-transform: capitalize;
    }
  }

  &.mod(b-cell) {
    display: flex;
    justify-content: center;
  }

  elem(body) {
    display: flex;
    flex-direction: column;
    min-height: 520px;
    box-shadow: 0 2px 0 0 #7797ae;

    elem(row) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      margin-bottom: 5px;

      & > div {
        text-align: center;
        padding-left: 10px;
        box-sizing: border-box;
        text-transform: capitalize;
        line-height: 40px;
      }

      & .button {
        min-width: 40px;
        min-height: 40px;
        line-height: 32px;
        margin: 0 auto;
      }

      elem(body-number) {
        min-width: 40px;
        flex-shrink: 0;
        box-shadow: 1px 0 0 0 #d9d9d9;
      }

      elem(body-title) {
        flex: 1;
        box-shadow: 1px 0 0 0 #d9d9d9;

        @media (max-width: 900px) {
          display: none;
        }
      }

      elem(body-date) {
        min-width: 130px;
        flex-shrink: 0;
        box-shadow: 1px 0 0 0 #d9d9d9;
      }

      elem(body-actions) {
        flex-shrink: 0;
        min-width: 200px;
        display: flex;

        & > .button {
          margin-right: 10px;
        }
      }
    }
  }
}
