block(paragraph) {
  margin: 0;
  color: #fff;
  text-align: center;
  margin: 0 auto;

  &.mod(blue) {
    color: #7797ae;
  }

  &.mod(size l) {
    font-size: 25px;
    line-height: 43px;
    max-width: 780px;
  }

  &.mod(size m) {
    font-size: 18px;
    line-height: 29px;
  }

  &.mod(size s) {
    font-size: 16px;
    line-height: 28px;
    max-width: 700px;
  }

  &.mod(narrow) {
    max-width: 428px !important;
  }
}
