block(page) {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  position: relative;

  .mod(theme islands) {
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    background-color: #fff;
  }

  &.mod(no-scroll) {
    overflow: hidden;
    position: fixed;
  }
}
