block(link) {
  text-decoration: none;

  &:active,
  .mod(state active) {
  }

  &[disabled],
  .mod(state disabled) {
    pointer-events: none;
    cursor: not-allowed;
  }

  &:focus,
  .mod(state focus) {
  }

  &:hover,
  .mod(state hover) {
  }

  .mod(state visited) {
  }

  .mod(focused) {
    outline: none;
  }
}
