block(page-index) {
  elem(content) {
    overflow-x: hidden;
    elem(first) {
      elem(contentWrapper) {
        display: flex;
        flex-direction: column;
        justify-column: center;
        align-items: center;

        elem(date) {
          width: 100%;
          max-width: 435px;
          height: 57px;
        }

        elem(logo) {
          width: 100%;
          max-width: 918px;
          height: 232px;
          margin-top: 20px;

          @media (max-width: 600px) {
            height: 150px;
          }
        }

        elem(buyButton) {
          margin-top: 100px;

          @media (max-width: 769px) {
            margin-top: 120px;
          }

          @media (max-width: 600px) {
            margin-top: 40px;
          }
        }

        elem(video) {
          width: 100%;
          height: 640px;
          margin-top: 200px;

          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.4);

          @media (max-width: 600px) {
            height: 160px;
            margin: 80px auto;
            width: 300px;
          }
        }
      }
    }
    elem(absImage) {
      position: absolute;
      z-index: -2;

      &.mod(top) {
        top: 300px;
        width: 800px;
        height: 700px;
        left: 50%;
        margin-left: -400px;

        @media (max-width: 769px) {
          top: 350px;
          width: 600px;
          height: 400px;
          left: 50%;
          margin-left: -300px;
        }

        @media (max-width: 600px) {
          top: 200px;
          width: 100%;
          left: 0;
          margin-left: 0;
        }
      }

      &.mod(middle) {
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
      }

      &.mod(left) {
        top: 0;
        width: 50%;
        height: 1100px;
        left: -11%;

        @media (max-width: 769px) {
          width: 60%;
          height: 800px;
          top: -2%;
        }

        @media (max-width: 600px) {
          width: 70%;
          height: 600px;
        }
      }

      &.mod(right) {
        top: 0;
        width: 50%;
        height: 1600px;
        right: -11%;

        @media (max-width: 769px) {
          width: 60%;
          height: 800px;
          right: -13%;
        }

        @media (max-width: 600px) {
          width: 60%;
          height: 600px;
          top: -3%;
          right: 0;
        }
      }

      &.mod(slime) {
        min-width: 800px;
        height: 450px;
        top: 50%;
        margin-top: -225px;

        @media (max-width: 769px) {
          min-width: 500px;
          height: 300px;
          margin-top: -150px;
        }

        @media (max-width: 600px) {
          min-width: 300px;
        }
      }

      &.mod(star) {
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;

        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    elem(second) {
      margin-top: 120px;
      position: relative;

      @media (max-width: 769px) {
        margin-top: 50px;
        min-height: 300px;
      }

      elem(contentWrapper) {
        @media (max-width: 769px) {
          min-height: 300px;
        }
      }

      block(title) {
        &.mod(size_l) {
          margin-bottom: 40px;
        }
      }

      block(paragraph) {
        margin-bottom: 40px;

        &.mod(size s) {
          @media (max-width: 600px) {
            display: none;
          }
        }
      }
    }

    elem(third) {
      elem(contentWrapper) {
        overflow-x: visible;
      }

      block(title) {
        margin-bottom: 40px;
      }

      block(paragraph) {
        &.mod(size_s) {
          max-width: 428px;
          margin: 0 auto 100px;

          @media (max-width: 600px) {
            margin-bottom: 40px;
          }
        }
      }

      block(tabs) {
        @media (max-width: 600px) {
          display: none;
        }
        elem(tabs-group) {
          max-width: 500px;
          margin: 0 auto;
        }
      }

      elem(lineup) {
        &block(button) {
          position: relative;
          padding: 20px 5px;
          text-decoration: none;
          transition: all 0.3s;
          cursor: pointer;
          background: #1a2835;
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.45);
          border-radius: 10px;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: center;
          width: 300px;
          border: none;
          margin: 40px auto 0;

          block(icon) {
            margin-left: 12px;
          }

          .button__text {
            color: #fff;
            font-size: 16px;
            line-height: normal;
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            transition: all 0.3s;
            font-weight: 700;
          }

          &:hover {
            background: #2e3c49;
          }

          &.mod(pressed) {
            background: #0f1e2b;
          }
        }
      }
    }

    elem(forth) {
      height: 100%;
      min-height: 600px;

      @media (max-width: 600px) {
        min-height: 300px;
      }

      elem(contentWrapper) {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        height: 600px;

        @media (max-width: 600px) {
          min-height: 300px;
        }
      }

      block(gallery) {
        max-width: 1160px;
        margin-top: 0;
      }

      block(graphics) {
        top: 0;
        height: 100%;

        @media (max-width: 600px) {
          width: 90%;
          margin: 0 auto;
          left: unset;
        }
      }
    }

    elem(fifth) {
      block(title) {
        margin-bottom: 40px;

        @media (max-width: 600px) {
          margin-bottom: 10px;
        }
      }

      block(paragraph) {
        strong {
          color: #fff;
        }

        &.mod(size_s) {
          max-width: 825px;
          margin: 0 auto 30px;
        }
      }
    }

    elem(sixth) {
      width: 100%;
      max-width: 1140px;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.4);
      margin: 0 auto 90px;

      @media (max-width: 600px) {
        height: 350px;
      }
    }

    elem(seventh) {
      block(title) {
        margin-bottom: 30px;
      }

      block(button) {
        position: relative;
        padding: 20px 5px;
        text-decoration: none;
        transition: all 0.3s;
        cursor: pointer;
        background: #1a2835;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.45);
        border-radius: 10px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        width: 300px;
        border: none;
        margin: 40px auto 80px;

        block(icon) {
          margin-left: 12px;
        }

        .button__text {
          color: #fff;
          font-size: 16px;
          line-height: normal;
          text-align: center;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          transition: all 0.3s;
          font-weight: 700;

          @media (max-width: 600px) {
            font-size: 14px;
          }
        }

        &:hover {
          background: #2e3c49;
        }

        &.mod(pressed) {
          background: #0f1e2b;
        }
      }
    }

    elem(eighth) {
      position: relative;
      margin-bottom: 55px;
      height: 876px;

      @media (max-width: 769px) {
        height: 500px;
      }

      @media (max-width: 600px) {
        height: 200px;
      }

      elem(contentWrapper) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
}
