block(footer) {
  elem(content) {
    display: flex;
    padding: 80px 100px;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;

    block(nav-menu) {
      max-width: 50%;
      margin-right: 30px;

      elem(content) {
        max-width: 600px;
        margin: 0 auto;
      }

      block(link) {
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.02em;
      }
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 60px;

      block(nav-menu) {
        max-width: 75%;
        margin-bottom: 40px;
      }
    }

    @media (max-width: 768px) {
      padding: 80px 60px;
      background-color: transparent;

      block(nav-menu) {
        display: none;
      }
    }
  }
}
