block(page-edit) {
  elem(content) {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    box-sizing: border-box;

    block(title) {
      margin: 40px 0;
    }
  }

  block(editor) {
    elem(preview) {
      word-break: break-all !important;
    }

    block(icon) {
      padding: 0;
    }
  }
}

.editor .textarea {
  height: 400px;
}
