block(tabs) {
  width: 100%;

  elem(pane) {
    display: none;

    &.mod(active) {
      display: block;
    }
  }

  elem(tabs-group) {
    margin-bottom: 30px;
    position: relative;

    @media (max-width: 600px) {
      padding: 0 10px;
    }

    block(control-group) {
      display: flex;
      justify-content: space-between;
      width: 100%;

      block(radio) {
        width: 45%;
        max-width: 206px;

        &.mod(checked) {
          opacity: 1;

          @media (max-width: 600px) {
            box-shadow: unset;
          }

          block(button) {
            background-color: #4337c7;
          }
        }
      }
    }
  }

  block(radio) {
    block(button) {
      background-color: transparent;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px 5px;
      position: relative;
      border-radius: 10px;
      transition: all 0.3s;
      outline: none;
      -webkit-appearance: none;
      border: 0;

      &.mod(pressed) {
        background-color: #2519a9;
      }

      &.mod(hovered) {
        background-color: #162027;
        elem(text) {
          color: #ffffff;
        }
      }

      elem(text) {
        color: #fff;
        font-size: 16px;
        line-height: 26px;
        margin: 0;
        display: block;
        width: 100%;
      }
    }
    &:nth-child(2) {
      margin: 0 15px;
    }
  }

  elem(pane) {
    @media (max-width: 600px) {
      padding: 0 10px;
      box-sizing: border-box;
    }

    block(layout) {
      @media (max-width: 600px) {
        flex-direction: column;
        margin-top: 80px;
      }

      elem(aside) {
        @media (max-width: 600px) {
          margin-top: 30px;
          padding: 0 10px;
        }
      }
    }
  }
}
